version: "3.9"

services:

  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  fastapi:
    build: .
    container_name: fastapi-app
    ports:
      - "8000:8000"
    depends_on:
      - mongodb
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - fastapi
volumes:
  mongo_data:
